*{
	box-sizing: border-box;
}

body{
	font-size: 16px;
	background-color: #F6F6F6;
	font-family: 'Oxygen', sans-serif;
	color: #000;
}

#header-nav{
	background-color: #191919;
	border-radius: 0;
	border: none;
}