*{
	box-sizing: border-box;
}

body{
	font-size: 1em;
	background-color: #7D1935;
	font-family: 'Oxygen', sans-serif;
	color: #000;
}

/*==================Body's Header==================*/
#header-nav{
	background-color: #FFF056;
	border-radius: 0;
	border: none;
}

/*==================Ya Hussain Logo==================*/
#logo-img{
	background: url('../images/logo.png') no-repeat;
	background-size: 72PX 72PX;
	width: 72px;
	height: 72px;
	margin: 2px 0px 2px -36px;
}

/*==================My Site's Name==================*/
.navbar-brand{
	padding-top: 12px;
}

.navbar-brand a:hover, .navbar-brand a:focus{
	text-decoration: none;
}

.navbar-brand h1{
	font-size: 2em;
	font-family: 'Bungee Inline', cursive;
	color: #7D1935;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 0;
}

/*==================Tag Line==================*/
.navbar-brand p{
	font-family: 'Oxygen', sans-serif;
	margin-top: -2px;
	font-size: .67em;
	font-style: italic;
	color: #7D1935;
	font-weight: bolder;
	letter-spacing: 2px;
	word-spacing: 2px;
	text-transform: uppercase;
}

.navbar-brand p span{
	vertical-align: middle;
}


/*==================Navigation Buttons==================*/
#nav-list{
	padding-top: 26px;
}

#nav-list > li > a{
	color: #7D1935;
	font-size: 1.5em;
}

#nav-list > .active a{
	background-color: #7D1935;
	color: #FFF056;
}

#nav-list > li:hover > a{
	background-color: #7D1935;
	color: #FFF056;
}


/*==================Navigation DropDown Buttons==================*/
#nav-list li .dropdown-menu li a{
	font-weight: bolder;
	color: #7D1935;
	font-size: 0.8em;
}

#nav-list li .dropdown-menu li a:hover, #nav-list li .dropdown-menu li a:active{
	background-color: #7D1935;
	color: #FFF056;
	font-size: 0.8em;
}


/*==================Collapsable Button on Right Side==================*/
.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
	border: 1px solid #7D1935;
}

.navbar-header button.navbar-toggle{
	clear: both;
	margin-top: -16px;
	top: -20px;
}



/*==================DropDown Menu Divider==================*/

.divider{
	border: 0.5px solid #7D1935;
}


/*==================Carousel==================*/
.carousel-inner h1{
	text-shadow: 2px 2px 3px #000;
	color: #fff;
	font-weight: bolder;
	font-size: 3vw;
	margin-top: -450px;
}

.item img{
	margin-right: auto;
	margin-left: auto;
}

























/*==================Bootstraps's Fonts==================*/
@font-face {
  font-family: 'MyWebFont';
  src: url('fonts/glyphicons-halflings-regular.eot');
  src: url('fonts/glyphicons-halflings-regular.svg');
  src: url('fonts/glyphicons-halflings-regular.ttf');
  src: url('fonts/glyphicons-halflings-regular.woff');
  src: url('fonts/glyphicons-halflings-regular.woff2');
}

/*==================Media Setting Belongs To Below==================*/
/*==================Large Devices Only==================*/
@media (min-width: 1200px) {

}




/*==================Medium Devices Only==================*/
@media (min-width: 992px) and (max-width: 1199px){
.carousel-inner h1{
	margin-top: -360px;
}
}




/*==================Small Devices Only==================*/
@media (min-width: 768px) and (max-width: 991px){
.carousel-inner h1{
	font-size: 3vw;
	margin-top: -55%;
}
}




/*==================Extra Small Devices Only==================*/
@media (max-width: 767px){
#nav-list, #nav-list .dropdown-menu{
	text-align: center;
}

.carousel-inner h1{
	font-size: 4vw;
	margin-top: -49%;
}
}