*{
	box-sizing: border-box;
}

body{
	font-size: 1em;
	background-color: #7D1935;
	font-family: 'Oxygen', sans-serif;
	color: #000;
}

/*==================Body's Header==================*/
#header-nav{
	background-color: #FFF056;
	border-radius: 0;
	border: none;
}

/*==================Ya Hussain Logo==================*/
#logo-img{
	background: url('../images/logo.png') no-repeat;
	width: 100px;
	height: 100px;
	margin: 5px 0px 5px -50px;
}

/*==================My Site's Name==================*/
.navbar-brand{
	padding-top: 25px;
}

.navbar-brand a:hover, .navbar-brand a:focus{
	text-decoration: none;
}

.navbar-brand h1{
	font-size: 2.5em;
	font-family: 'Bungee Inline', cursive;
	color: #7D1935;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 0;
}

/*==================Tag Line==================*/
.navbar-brand p{
	font-family: 'Oxygen', sans-serif;
	margin-top: -5px;
	font-size: .55em;
	color: #7D1935;
	font-weight: bolder;
	letter-spacing: 2px;
	word-spacing: 2px;
	text-transform: uppercase;
}

.navbar-brand p span{
	vertical-align: middle;
}

.navbar-nav{
	padding-top: 25px;
	margin-right: -50px;
}

.navbar-nav li a{
	padding-left: 8px;
	padding-right: 8px;
}

.navbar-default .navbar-nav > .active a{
    color: #FFF056;
    background-color: #7D1935;
}

.navbar-default .navbar-nav > .active a, .navbar-default .navbar-nav > .active a{
    padding-bottom: 48px;
    font-size: 2.0em;
}

.navbar-default .navbar-nav > .active a:hover, .navbar-default .navbar-nav > .active a:focus{
    background-color: #7D1935;
    padding-bottom: 48px;
    color: #fff;
}

.navbar-nav .dropdown-menu li a{
	font-size: 1em;
	line-height: 1.2;
}

.navbar-nav > li a{
	font-size: 1.5em;
	font-weight: bolder;
}

.navbar-nav > li > a:link, .navbar-nav > li > a:visited{
	transition: 0.5s ease-in-out;
	color: #7D1935;
	text-decoration: none;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
    background-color: #7D1935;
    color: #fff;
    padding-bottom: 50px;
}

.navbar-nav > li:hover, .navbar-nav > li:focus{
	background-color: #7D1935;
}

.navbar-nav > li:visited{
	background-color: #7D1935;
}















/*==================Bootstraps's Fonts==================*/
@font-face {
  font-family: 'MyWebFont';
  src: url('fonts/glyphicons-halflings-regular.eot');
  src: url('fonts/glyphicons-halflings-regular.svg');
  src: url('fonts/glyphicons-halflings-regular.ttf');
  src: url('fonts/glyphicons-halflings-regular.woff');
  src: url('fonts/glyphicons-halflings-regular.woff2');
}


/*==================Media Tags==================*/
/*==================Media Tag For 1200 to 1300==================*/
@media (min-width: 1200px) and (max-width: 1300px){
	#logo-img{
	margin: 10px 0px 10px -50px;
	}
}
